body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotating-image {
    width: 100px;
    height: 100px;
    animation: rotate 04s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* @keyframes move {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
} */
 

@keyframes move {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
} 